# Build directories
build/
cmake-build-*/
out/

# IDE
.idea/
.vscode/
*.user
*.autosave

# Compiled
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a

# Qt
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc

# SQLite databases (desarrollo)
*.db
*.sqlite

# Logs
*.log

# OS
.DS_Store
Thumbs.db
